<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header_app">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<style>
.example-modal .modal {
	position: relative;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	display: block;
	z-index: 1;
}

.example-modal .modal {
	background: transparent !important;
}
</style>
	<div class="wrapper">
		<!-- header -->
		<header th:replace="fragments/header :: header"></header>
		<!-- sidebar -->
		<aside th:replace="fragments/sidebar :: sidebar"></aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Lookup <small>Index</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Lookup</li>
				</ol>
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-md-12">
						<!-- content mulai -->
						<div class="box box-info box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">List Lookup</h3>
								<div class="box-tools">
									<button class="btn btn-info" id="btn-add">
									<i class="fa fa-plus"></i> Add
									</button>
								</div>
							</div>
							<div class="box-body">
								<table class="table">
									<thead>
										<tr>
											<th>Id</th>
											<th>Kode</th>
											<th>Nama</th>
											<th>Type</th>
											<th>Posisi</th>
											<th>#</th>
										</tr>
									</thead>
									<tbody id="list-data">

									</tbody>
								</table>
							</div>
						</div>
						<!-- content selesai -->
					</div>
				</div>
			</section>
		</div>
		<!-- footer -->
		<div th:replace="fragments/footer :: footer"></div>
	</div>

	<!-- modal mulai -->
	<div class="modal fade" id="modal-input">
		<div class="modal-dialog"></div>
	</div>
	<!-- modal selesai -->

	<!-- script javascript -->
	<div th:replace="fragments/footer :: scripts"></div>

	<!-- script CRUD -->
	<script>
		// fungsi load data 
		function loadData() {
			$.ajax({
				url : '/lookup/list',
				type : 'get',
				dataType : 'html',
				success : function(result){
					$("#list-data").html(result);
				}
			});
		}
		
		$(function() {
			loadData();
		});
		
		
		$("#btn-add").click(function(){
			$.ajax({
				url : '/lookup/add',
				type : 'get',
				dataType : 'html',
				success : function(result){
					$("#modal-input").find(".modal-dialog").html(result);
					$("#modal-input").modal('show');
				}
			});
		});
		
		$("#modal-input").on("submit", "#form-lookup", function(){
			var dataForm = $(this).serialize()
			var urlForm = $(this).attr('action');
			$.ajax({
				url : urlForm,
				type : 'post',
				data : dataForm,
				dataType : 'html',
				done : function(){
					$("#modal-input").find(".modal-dialog").html("");
				},
				success : function(result){
					$("modal-input").find(".modal-dialog").html(result)
					var check = $("#modal-input").find(".has-error").length;
					if(check==0){
						$("#modal-input").modal('hide');
						loadData();
					}
				},
			});
			return false;
		});
		
		$("#list-data").on("click", ".btn-detail", function() {
			var id = $(this).val();
			$.ajax({
				url : '/lookup/detail/'+id,
				type : 'get',
				dataType : 'html',
				success : function(result){
					$("modal-input").find(".modal-dialog").html(result);
					$("modal-input").modal('show');
				}
			});
		});
		
		$("#list-data").on("click", ".btn-edit", function(){
			var id = $(this).val();
			$.ajax({
				url : '/lookup/edit/' + id,
				type : 'get',
				dataType : 'html',
				success : function(result){
					$("#modal-input").find(".modal-dialog").html(result);
					$("#modal-input").modal('show');
				}
			});
		});
		
		$("#list-data").on("click",".btn-delete", function(){
			var id = $(this).val();
			$.ajax({
				url : '/lookup/delete/'+id,
				type : 'get',
				dataType : 'html',
				success : function(result){
					$("#modal-input").find(".modal-dialog").html(result);
					$("#modal-input").modal('show');
				}
			});
		});
	</script>
</body>
</html>